<div class="wrap">
    <div class="container">
        {{>navbar}}
        <div class="profile"
             style="background: url('http://ddragon.leagueoflegends.com/cdn/img/champion/splash/{{highestMastery}}_0.jpg'); background-position: 75% 25%">
            <img src="http://ddragon.leagueoflegends.com/cdn/{{version}}/img/profileicon/{{picon}}.png" alt=""
                 class="profile-icon align-left">
            <h2 class="player-title">{{pname}}</h2>
        </div>
        <noscript>
            <h3>Javascript Required</h3>
            <p>If you want to see all of the awesome graphs that we've created, please enable javascript</p>
        </noscript>
        <div class="row">
            <h2 class="section-title">Winrate vs Champion Mastery Points</h2>
            <div id="mastery-winrate-tooltip"></div>
            <div id="mastery-winrate" class="mastery-plot plot-percent"></div>
        </div>
        <div class="row">
            <h2 class="section-title">KDA vs Champion Mastery Points</h2>
            <p>Your Kill/Death/Assist ratio, using the formula (K+A)÷D </p>
            <div id="mastery-kda-tooltip"></div>
            <div id="mastery-kda" class="mastery-plot"></div>
        </div>
        <div class="row">
            <h2 class="section-title">Total Damage Dealt vs Champion Mastery Points</h2>
            <p>Total Damage encompasses all forms of damage</p>
            <div id="mastery-damage-tooltip"></div>
            <div id="mastery-damage" class="mastery-plot"></div>
        </div>
        <div class="row">
            <h2 class="section-title">Minions Killed vs Champion Mastery Points</h2>
            <p></p>
            <div id="mastery-minions-tooltip"></div>
            <div id="mastery-minions" class="mastery-plot"></div>
        </div>
        <div class="row">
            <h2 class="section-title">Gold Earned vs Champion Mastery Points</h2>
            <p></p>
            <div id="mastery-gold-tooltip"></div>
            <div id="mastery-gold" class="mastery-plot"></div>
        </div>
        <div class="row">
            <h2 class="section-title">Turrets Destroyed vs Champion Mastery Points</h2>
            <p></p>
            <div id="mastery-tower-tooltip"></div>
            <div id="mastery-tower" class="mastery-plot"></div>
        </div>
        <div class="ranking-list data-section">
            <h2 class="section-title">Individual Champion Summary</h2>
            <p>Compare each individual champion's winrate and mastery level against other statistics</p>
            {{#grouping pRankedMasteryList 3}}
                <div class="row">
                    {{#each this}}
                        <div class="col-xs-12 col-sm-4 col-md-4 champ">
                            <img src="http://ddragon.leagueoflegends.com/cdn/{{../../version}}/img/champion/{{key}}.png"/>
                            <div class="mastery-info">
                                <h3>{{name}}</h3>
                                <p>L{{level}} | {{winrate}}%
                                    <br>{{wins}}W | {{losses}}L</p>

                            </div>
                        </div>

                    {{/each}}
                </div>
            {{/grouping}}
        </div>

        {{>footer}}
    </div>
</div>

<script src="/js/jqplot-combined.min.js"></script>
<script src="https://cdn.jsdelivr.net/scrollreveal.js/3.3.1/scrollreveal.min.js"></script>
<script>
    //Get Data for chart
    var winrateData = [{{{winrateChartData}}}];
    var kdaData = [{{{kdaChartData}}}];
    var towerData = [{{{turretChartData}}}];
    var bloodData = [{{{firstBloodChartData}}}];
    var damageDealtData = [{{{damageDealtChartData}}}];
    var minionsData = [{{{minionsChartData}}}];
    var goldData = [{{{goldChartData}}}];
    var version = "{{version}}";


    window.sr = ScrollReveal();

    sr.reveal('.row');
    sr.reveal('.ranking-list .champ',{ duration: 300 }, 50);

</script>
<script src="/js/plots.min.js"></script>
